{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <!--If statement for placeholder-->
            {% if "placeholder" in about.profile_image.url %} <!--start for placeholder-->
            <img class="card-img-top" src="{% static 'images/nobody.jpg' %}" class="profile_image" alt="placeholder image">
            {% else %}
            <img class="card-img-top" src=" {{ about.profile_image.url }}" class="profile_image" alt="{{ about.title }}">
            {% endif %} <!--End for placeholder-->
        </div>
        <div class="col-8">
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
            
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Let's collaborate!</h2>
            <p>I believe in the power of shared knowledge and collective effort.
                Whether you have a project in mind, wish to co-author
                an article, or simply want to brainstorm some ideas,
                I'm excited to hear from you. Fill out the form
                and we can get the ball rolling!</p>

            <!-- add your form here. Your submit button should 
                                have the classes of btn, btn-secondary -->
                <form method="post">
                    {{ collaborate_form | crispy }} <!--With this we displayed the name, email and messages forms in the About section-->
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </form>
        </div>
    </div>
</div>
{% endblock content %}